<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{parts/header :: html_header}"></head>
<body>
<nav th:insert="~{parts/navbar :: navbar}"></nav>
<h1>Employee</h1>

<!--<form method="post" >-->
<!--    <div class="mb-3">-->
<!--      <input type="text" name="firstName" class="form-control" placeholder="First name" aria-label="First name" required>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <input type="text" name="lastName" class="form-control" placeholder="Last name" aria-label="Last name" required>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--        <input type="text" name="login" class="form-control" placeholder="Login" aria-label="Login">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--        <input type="text" name="password" class="form-control" placeholder="Password" aria-label="Password">-->
<!--    </div>-->
<!--    <select class="form-select" aria-label="Default select example" name ="departmentId">-->
<!--&lt;!&ndash;        <option value=>Main department</option>&ndash;&gt;-->
<!--        <option th:each="department: ${departments}" th:value="${department.id}" th:text="${department.title}">-->
<!--        </option>-->
<!--    </select>-->
<!--    <input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}">-->
<!--    <button type="submit" class="btn btn-primary">Create</button>-->
<!--</form>-->
<a class="btn btn-primary" th:href="@{employee/create}" role="button">Create</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
      <th scope="col">Department</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="employee: ${employees}">
    <th scope="row" th:text="${employee.id}"></th>
    <td th:text="${employee.firstName}"></td>
    <td th:text="${employee.lastName}"></td>
      <td th:text="${employee.department.title}"></td>
    <td>
        <a th:href="@{employee/{id}(id=${employee.id})}">Edit</a> |
        <a th:href="@{employee/delete/{id}(id=${employee.id})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
