<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/header :: html_header}"></head>
<body>
<nav th:insert="~{parts/navbar :: navbar}"></nav>
<section style="padding-bottom: 40px; padding-top: 40px">
    <div class="container-lg">
        <h1>Employee</h1>
        <div class="row justify-content-md-center align-items-center" style="padding-bottom: 40px; padding-top: 40px">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Card number</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee: ${employees}">
                    <th scope="row" th:text="${employee.id}"></th>
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.department.title}"></td>
                    <td th:text="${employee.cardNumber != null ? employee.cardNumber : null}"></td>
                    <td>
                        <a th:href="@{employee/{id}(id=${employee.id})}">Edit</a> |
                        <a th:href="@{employee/delete/{id}(id=${employee.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" th:href="@{employee/create}" role="button">Create</a>
        </div>
    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
