<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="header :: html_header"></head>
<body>
<nav th:insert="navbar :: navbar"></nav>
<h1>User</h1>

<form method="post" >
    <div class="mb-3">
      <input type="text" name="firstName" class="form-control" placeholder="First name" aria-label="First name" required>
    </div>
    <div class="mb-3">
      <input type="text" name="lastName" class="form-control" placeholder="Last name" aria-label="Last name" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="UserInfo: ${UserInfos}">
    <th scope="row" th:text="${UserInfo.id}"></th>
    <td th:text="${UserInfo.firstName}"></td>
    <td th:text="${UserInfo.lastName}"></td>
    <td>Edit | Delete</td>
  </tr>
  </tbody>
</table>

</body>
</html>
