<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/employees">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/department">Department</a>
        </li>
      </ul>

      <p th:text="${#authentication.name}"> </p>
      <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
        <button type="submit" class="btn btn-primary">Sign Out</button>
      </form>

    </div>
  </div>
</nav>
